.container-home {
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.service-home {
    background-image: url('./../../../Assets/img/fondo-home.jpg');
    
}