.background-login {
    background-image: url('./../../../Assets/img/fondo-login.jpg');
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-login {
    background-color: #64b3c3b8;
    width: 25rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 5px;
}